main.content {
    /* Subdividing the content into subsections */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 4vh auto;
    grid-template-areas:
    "header"
    "headerCaption"
    "errorInfo"
    ;
}

main.content > section.headerCaption {
    grid-area: headerCaption;
    margin: 0 2vw;
    font-size: 1.25rem;
}

main.content > section.latestArticles {
    grid-area: latestArticles;
    margin: 0 2vw;
}

main.content > section.latestArticles > h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: clamp(3rem, 2.5rem, 12px);
}

main.content > section.latestArticles > div#articlesList {
    /* This will ensure that the articles will be laid out vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.content > section.errorInfo {
    grid-area: errorInfo;
    margin: 0 2vw;
}

main.content > section.errorInfo > p.errorCode > span#codeNumber,
main.content > section.errorInfo > p.errorCode > span#errorDescription {
    font-weight: bold;
}