@import "global.css";

.header {
    /*Setting the background color to the primary color*/
    background-color: var(--primary-color);

    /*This will place the header component in its proper place in the main grid*/
    grid-area: header;

    /*This will ensure that the children of the header are laid out horizontally*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header a {
    /* This will clear any text decorations from descendant anchor tags */
    text-decoration: none;
    color: black;
}

.header > .headerLeft {
    /*This will ensure that the children of the left side of the header are laid out horizontally*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > .headerLeft > .headerIcon {
    width: 8vh;
    margin-left: 1vw;
}

.header > .headerLeft > .title {
    font-size: 3rem;
    padding-left: 2vw;
    font-weight: bolder;
    color: var(--secondary-color);
}

.header > .searchbar {
    background-color: white;

    /*This will ensure that the children of the left side of the header are laid out horizontally*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    /* This will resize the searchbar */
    width: 30vw;
    margin: 1vh;
    padding: 2vh;

    /* This will apply a rounded border on the searchbar */
    border: 0.2vh solid black;
    border-radius: 4vh;
}

.header > .searchbar > #headerSearchbarInput {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}