section.imageHeader[data-component] {
    grid-area: header;
    overflow: hidden;
    position: relative;
    color: white;
}

section.imageHeader[data-component] > div.backgroundImage {
    /* This will center the background image horizontally and vertically (This answer was written by Alex on this stackoverflow post: https://stackoverflow.com/questions/4416130/how-to-center-a-div-vertically#4416166 ) */
    position: relative;
    top: 50%;
    transform: translateY(-50%) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.imageHeader[data-component] > div.backgroundImage > img {
    min-width: 100vw;
    min-height: 60vh;
}

section.imageHeader[data-component] > div.headerContent {
    /* This will resize the header content to fill up the whole header */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* This will center the contents of the header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    box-shadow: inset 0px -20px 10px -10px rgba(255,255,255,0.25), inset 0px -40px 20px -20px rgba(255,255,255,0.5), inset 0px -80px 40px -40px rgba(255,255,255,1);
}

section.imageHeader[data-component] > div.headerContent > div.headerText {
    background-color: rgba(0,0,0,0.75);

    /* This will place the header text somewhere towards the left */
    margin: auto auto auto 5vw;
    padding: 20px;
    padding-right: 40px;
    height: auto;

    /* This will center the text in the box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

section.imageHeader[data-component] > div.headerContent > div.headerText > h1.title {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: max(4rem, 30px);
    margin: 1px;
}

section.imageHeader[data-component] > div.headerContent > div.headerText > p.description {
    font-family: 'Open Sans', sans-serif;
    font-size: max(1.5rem, 10px);
}

/* This will apply to smaller screens */
@media screen and (max-width: 800px) {
    section.imageHeader[data-component] > div.headerContent > div.headerText {
        background-color: rgba(0,0,0,0.75);
    
        /* This will place the header text in the center */
        margin: auto;
        padding: 20px;
        padding-right: 40px;
        height: auto;
    
        /* This will center the text in the box */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}